1Password/
Bitwarden/
BraveSoftware/
Slack/
TabNine/
chromium/
dconf/
google-chrome-beta/
google-chrome-unstable/
google-chrome/
i3/
microsoft-edge-dev/
neofetch/
nvim/
pavucontrol.ini
polybar/
pulse/
rofi.julius/
rofi/
spotify/
vivaldi-snapshot/
vivaldi/
Bitwarden CLI/
